html{   -webkit-text-size-adjust:none;}
.video embed,
.video object,
.video iframe{   width:100%;   height:auto;}
img{max-width:100%;height:auto;    width:auto\9;}
@media only screen and (max-width:939px){}
@media only screen and (max-width:767px){}
@media only screen and (max-width:619px){}
@media only screen and (max-width:240px){}